
@{
    ViewBag.Title = "User_Data";
}

<head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>

<style>
    .make-it-slow:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

    #tblBodyRow:hover {
    background-color: #EEE;
    /*top: -10px;*/
}

</style>

@using (Html.BeginForm())
{
    int i = 1;

    @Html.AntiForgeryToken()

    <br />
        <h2>USERS</h2>

        <table id="my-table" class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        FULL NAME
                    </th>
                    <th>
                        EMAIL
                    </th>
                    <th>
                        IS EMAIL VERIFIED
                    </th>
                    <th>
                        PROFILE PICTURE
                    </th>
                    <th>
                        CREATED AT
                    </th>
                    <th>
                        USER(1) OR ADMIN(2)
                    </th>
                </tr>
            </thead>
            <tbody id="tblUserData">
                
                @foreach (var item in Model)
                {
                    
                    <tr id="tblBodyRow" class="make-it-slow" onclick="location.href='@Url.Action("SelectedUser", "UserData", new { id = item.Id })'" style="cursor:pointer;">
                        <td>
                            @i
                        </td>
                        <td>
                            @item.FullName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.IsEmailVerified
                        </td>
                        <td>
                            @item.ProfilePicture
                        </td>
                        <td>
                            @item.Created_at
                        </td>
                        <td>
                            @item.AdminOrUser
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
}