
@{
    ViewBag.Title = "VerifyAccount";
    Layout = "";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@if (ViewBag.Deleted == true)
{
    <h3> @Html.ValidationMessage("Deleted", new { @class = "text-danger" }) </h3>
}

@if (ViewBag.Expired == true)
{
    <h3> @Html.ValidationMessage("Expired", new { @class = "text-danger" }) </h3>
}

@if (ViewBag.Activated == true)
{
    <h3> @Html.ValidationMessage("Activated", new { @class = "text-success" })</h3>
}
